<div class="container">
  <div class="row">
    <div class="col-12">
      <div id="carouselExampleSlidesOnly" class="carousel slide mb-4" data-ride="carousel" data-interval="3000">
        <div class="carousel-inner banner">
          <div class="carousel-item active">
            <%= image_tag("newbanner1.jpg", class: "img-fluid w-100") %>
          </div>
          <div class="carousel-item">
            <%= image_tag("newbanner2.jpg",class: "img-fluid w-100" ) %>
          </div>
          <div class="carousel-item">
            <%= image_tag("newbanner3.jpg",class: "img-fluid w-100" ) %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">

      <h1 class="bg-primary text-center mb-4"><span class="badge badge-primary">Latest products</span></h1>
      <div class="row">

      <% @latest.each do |product| %>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">

        <div class="card">
          <div class="card-body">

            <h2><%= product.name %></h2>
            <p>$ <%= product.price %></p>
            <%= link_to 'Buy <i class="fas fa-shopping-cart"></i>'.html_safe, product_path(product), class: 'btn btn-primary' %>
          </div>
        </div>

      </div>
      <% end %>

      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-12">

      <h1 class="bg-primary text-center mb-4"><span class="badge badge-primary">Most Popular</span></h1>
      <div class="row">

      <% @top.each do |product| %>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">

        <div class="card">
          <div class="card-body">
            <h2><%= product.name %></h2>
            <p>$ <%= product.price %></p>
            <%= link_to 'Buy <i class="fas fa-shopping-cart"></i>'.html_safe, product_path(product), class: 'btn btn-primary'%>

          </div>
        </div>

      </div>
       <h1 class="bg-secondary text-center mb-4"><span class="badge badge-secondary"></span></h1>
      <% end %>

      </div>

    </div>
  </div>
</div>

<div></div>
