<div class="container my-4">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      <!-- Product image -->
      <%= cl_image_tag @product.photo.key, width: 640, height: 640, crop: :fill, class: 'img-fluid mb-4' %>
    </div>
    <div class="col-12 col-md-6">
      <!-- Product info -->
      <h1 class="display-4 border-bottom pb-4 mb-4"><%= @product.name %></h1>
      <p class="lead"><%= @product.description %></p>
      <p>Quantity: <%= @product.quantity %></p>
      <h1><span class="badge badge-light">$ <%= @product.price %></span></h1>
      <% if @product.user_id != current_user.id %>
      <%= link_to 'Buy <i class="fas fa-shopping-cart"></i>'.html_safe, product_orders_path(@product), method: :post, class: 'btn btn-success btn-lg' %>
      <% end %>
      <div class="border-top pt-4 mt-4">
        <% if @product.user_id != current_user.id %>
        <%= link_to 'Back to products list', products_path, class: 'btn btn-secondary' %>
        <% elsif %>
        <%= link_to 'Back to my products list', my_products_path, class: 'btn btn-secondary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
